/*set font and margin for body*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*display flex, center content*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /*background img*/
    background-color: #f5f5f5;
    background-image: url('download\ \(18\).jpeg');
}
/*heading styling*/
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #ccc;
}
/*Form container style*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
/*define style for label element*/
label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
/*set font size of input*/
input {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}
/*styling for button element*/
button {
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*change background color on hover*/
button:hover {
    background-color: #3e8e41;
}
/*define total-cost style*/
#total-cost {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}